apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: commerce
  labels:
    app: inventory-service
spec:
  type: ClusterIP
  selector:
    app: inventory-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
  sessionAffinity: None

# NOTE: MariaDB Service는 mariadb-deployment.yaml에 정의되어 있습니다.
